.project
.settings/
AJS/.classpath
AJS/.project
AJS/.settings/
AJS/src/main/java/controller/
API/.classpath
API/.project
API/.settings/
Discovery/.classpath
Discovery/.project
Discovery/.settings/
common/.classpath
common/.project
common/.settings/
AJS/target/
API/target/
Discovery/target/
common/target/