.project
.settings/
AJS/.classpath
AJS/.project
AJS/.settings/
API/.classpath
API/.project
API/.settings/
Discovery/.classpath
Discovery/.project
Discovery/.settings/
common/.classpath
common/.project
common/.settings/
AJS/target/
API/target/
Discovery/target/
common/target/
API/src/main/resources/application.properties
