<div class="row">
   <div class="col-2">
      <button type="button" class="btn btn-outline-secondary" ng-click="managerController.add()">
         <i class="fas fa-plus"></i> Aggiungi piatto
      </button>
   </div>
   <div class="col-2">
      <button type="button" class="btn btn-outline-secondary" ng-click="managerController.delete()">
         <i class="fas fa-trash-alt"></i> Cancella piatti
      </button>
   </div>
</div>

<div class="row">
   <div class="col-12">
      <div ui-grid="managerController.gridOptions" ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-cellNav
         class="grid"></div>
   </div>
</div>